body {
  background: url(../img/bgblue.jpg) repeat-x center -60px;
  
}
/* Header */
header {
  width: 100%;
  background: #E0F5FA;
  height: 60px;
  padding: 10px 0;
}
#logo {
  margin-top: 5px;
}
#logo a {
  display: block;
  height: 50px;
  padding: 5px 0px 0px 60px;
  font-family: 'Patua One', cursive;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #168EBA;
  background: url(../img/logo.png) no-repeat;
}
#menu ul {
  float:right;
  list-style: none;
  margin-top: 30px;
}
#menu ul li {
  float: left;
  margin-right: 20px;
}
#menu ul li a {
  font-family: 'Open Sans', sans-serif;
  color: #0B607B;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .8);
}
/* Featured */
#featured {
  height: 260px;
  margin-bottom: 20px;
}
#featured1, #featured2, #featured3 {
  float: left;
}
.feat{ 
  overflow: hidden;
  position: 
  relative;
  -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}

.feat h2{
  font:400 16px 'Droid Sans', Tahoma;
  background:rgba(70,150,183,.9);
  color:#fff;
  position: absolute;
  bottom:0;
  padding:10px;
  width:auto;
  z-index:2;
}
.feat img{
  -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}

.feat:hover h2{
  text-decoration:underline;
}
.feat:hover img{
  -webkit-transform:scale(2);
  -moz-transform:scale(2);
  -o-transform:scale(2);
  -ms-transform:scale(2);
  transform:scale(2);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity:.7;
}
/* Articles */
.article-list {
  display: block;
  width: 630px;
  height: 140px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
  background: white;
}
.article-list-img {
  display: block;
  float: left;
  width: 240px;
  height: 140px;
  margin-right: 10px;
}
.article-list-content {
  width: 380px;
  float: left;
}
.article-list-content h1 {
  display: block;
  width: 380px;
  height: 85px;
  margin-bottom: 5px;
}
.article-list-content h1 a {
  font-family: 'Droid Sans', sans-serif;
  font-size: 26px;
  color: #028DB9;
  text-decoration: none;
  font-weight: normal;
}
.article-list-info {
  height: 20px;
  margin-bottom: 5px;
  color: #424242;
}
.article-list-info, .article-list-info a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.article-list-info a {
  color: #028DB9;
  text-decoration: none;
}
.article-list-snet {
  height: 25px;
}
#bannerbox {
  width: 300px;
  margin-bottom: 10px;
}
#fbsidebar {
  width: 300px;
}
section {
  float: left;
}
aside {
  float: left;
  background: white;
  padding: 5px;
  width: 300px;
}
footer, footer a {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
footer a {
  color: #028DB9;
  text-decoration: none;
}
/* Single */
.article-single h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 32px;
  color: #028DB9;
  font-weight: normal;
}
.article-single-info {
  color: #424242;
}
.article-single-info, .article-single-info a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}
.article-single-info a {
  color: #028DB9;
}

.article-single p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 10px 0px;

}
.article-single h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}